*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,500&display=swap');

@font-face {
    font-family: P128;
    src: url('../fonts/Ubuntu-Bold.ttf');
}

.text{
    border: 2px solid red;
    width: 60%;
    margin: 5rem auto;
    text-align: left;
    /* text-align-last: center; */
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 40px;
    text-indent: 100px;
    font-family: P128;
   
    /* text-transform: uppercase; */
}



















/* 

.social{
    text-align: center;
    margin-top: 50px;
}


.social i{
    font-size: 30px;
    background-color: #1D809F;
    color: #fff;
    padding: 10px;
    border-radius: 100%;
    margin: 0 10px;
}

.fb{
    padding: 10px 15px !important;
}


.box{
    width: 200px;
    height: 200px;
    background-color: red;
    border: 2px solid #000;
}

.box:nth-child() {
    background-color: green;
    width: 300px;
} */













/* form{
    width: 40%;
    margin: auto;
}

form input,textarea {
    width: 100%;
}

input{
    padding: 10px 0 10px 15px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid grey;
}

svg{
    height: 30px;
}
hr{
    background-color: red;
    border: 1px solid red;
    width: 100px;
    float: left;
}

.icon{
    width: 20%;
    margin: auto;
}

.second{
    float: right;
}


.all{
    background-color: #1abc9c;
    overflow: auto;
}

.text{
    width: 50%;
    margin: auto;
}

.text .box{
    float: left;
    width: 50%;
}

.p128{
    clear: both;
}

a{
    background-color: transparent;
    border: 1px solid #fff;
    padding: 13px 50px;
    text-decoration: none;
    color: #fff;
}

button{
    background-color: transparent;
} */